[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/sourcepp"]
	path = thirdparty/sourcepp
	url = https://github.com/craftablescience/sourcepp.git
